@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";;
@theme {
  --color-primary: #030412;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-indigo: #1f1e39;
  --color-storm: #282b4b;
  --color-aqua: #33c2cc;
  --color-mint: #57db96;
  --color-royal: #5c33cc;
  --color-lavender: #7a57db;
  --color-fuchsia: #ca2f8c;
  --color-orange: #cc6033;
  --color-sand: #d6995c;
  --color-coral: #ea4884;
  --animate-orbit: orbit 50s linear infinite;
}

body {
  background: #030412;
  font-family: "Funnel Display", sans-serif;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: pointer;
}

.font-custom {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.c-space {
  @apply sm:px-10 px-5 lg:px-30;
}

.hover-animation {
  @apply hover:-translate-y-1 duration-200;
}

.section-spacing {
  @apply min-h-screen mt-20 md:mt-30;
}

.text-heading {
  @apply font-bold text-3xl md:text-4xl;
}

.headtext {
  @apply mt-2 mb-2 text-3xl;
}

.subtext {
  @apply text-neutral-300 text-xl md:text-base text-pretty;
}

/* Navigation */
.nav-ul {
  @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

.nav-li {
  @apply text-neutral-400 hover:text-white max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
}

.nav-link {
  @apply text-lg md:text-base hover:text-white transition-colors;
}

/* About Section */
.grid-1 {
  @apply row-span-2 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-2 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-3 {
  @apply row-span-1 md:col-span-3 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-4 {
  @apply row-span-1 md:col-span-6 h-[15rem] md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-default-color {
  @apply p-6 bg-gradient-to-b from-storm to-indigo rounded-2xl;
}

.grid-special-color {
  @apply p-6 bg-gradient-to-b from-royal to-lavender rounded-2xl;
}
.grid-black-color {
  @apply p-6 bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A] rounded-2xl;
}

@layer utilities {
  
  .no-spin-buttons::-webkit-outer-spin-button,
  .no-spin-buttons::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spin-buttons {
    
    -moz-appearance: textfield;
  }
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}


.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.start-right {
          transform: translateX(100%); 
        }
        .start-left {
          transform: translateX(0%); 
        }

        /* Slide animations */
        .slide-left {
          animation: slideLeft 0.7s ease forwards;
        }
        .slide-right {
          animation: slideRight 0.7s ease forwards;
        }

        /* Slide from right to left (Show Login side) */
        @keyframes slideLeft {
          from { transform: translateX(100%); } 
          to { transform: translateX(0%); } 
        }

        /* Slide from left to right (Show Signup side) */
        @keyframes slideRight {
          from { transform: translateX(0%); } 
          to { transform: translateX(100%); } 
        }